analytic_engineer_exercise:
  target: dev
  outputs:
    dev:
      type: snowflake
      account: YOUR_ACCOUNT
      user: YOUR_USER
      password: YOUR_PASSWORD
      role: TRANSFORMER
      warehouse: TRANSFORMING_WH
      database: ANALYTICS
      schema: ANALYTIC_ENGINEER_DEV
      threads: 4
      client_session_keep_alive: false
